.cardSpell {
  width: 20vw;
  height: 30vh;
  padding: 1rem;
  border: solid 1px slategray;
  overflow: hidden;
  box-shadow: 0px 0px 5px 2px gray;
  margin: 0.5rem;
}

.cardSpell:hover {
  width : calc(20vw + 0.5rem);
  height : calc(30vh + 0.5rem);
  box-shadow: none;
  margin: 0.25rem;
  box-shadow: 0px 0px 5px 2px slateblue;
}

.cardSpell-display-overlay {
  display : block;
  background-color: black;
  opacity: 0.25;
  z-index: 99;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}